<!DOCTYPE html>
<html>
<head>
    <title>test search module</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
    <script>
        $(function () {
            var valitadorMsgs = {
                badUrl: 'Please, enter URL',
                requiredFields: 'Please, fill required field',
            };
            $.validate({
                language: valitadorMsgs,
                form: '[name=search]',
                onSuccess: function () {
                    var form = $('form[name=search]');
                    console.log((form).attr('action'));
                    $.get(form.attr('action') + '&' + form.serialize(), {}, function (data) {
                        $('#resultArea').html(data);
                    });
                    return false;
                },
            });

            if ($('input[name=searchType][value=text]').prop('checked')) {
                $('#searchTextWrapper').show();
                $('[name=useTextSearch]').prop('checked', true)
            } else {
                $('#searchTextWrapper').hide();
                $('[name=useTextSearch]').prop('checked', false)
            }

            $('input[name=searchType]').on('change', function () {
                if ($('input[name=searchType][value=text]').prop('checked')) {
                    $('#searchTextWrapper').show();
                    $('[name=useTextSearch]').prop('checked', true);
                } else {
                    $('#searchTextWrapper').hide();
                    $('[name=useTextSearch]').prop('checked', false)
                }

            });
            $('a.ajax').on('click', function () {
                var targetBlock = $(this).attr('target');
                $.get($(this).attr('href'), {}, function (data) {
                    $(targetBlock).html(data);
                });
                return false;
            });
        });
    </script>
</head>
<body>
<header class="row">
    <a href="/?c=main" title="go to main page">
        <h1 class="col-md-6 col-md-offset-3">seach module</h1>
    </a>
</header>
<div class="row">
    <p class="col-md-2 col-md-offset-9">
        <a href="/?c=archive">See all results</a>
    </p>
</div>
<section class="row">
    <div class="col-md-6 col-md-offset-3">
        {{{content}}}
    </div>
</section>
</body>
</html>