<li>
    <em>{{collection.getTimestamp}}</em> -
    type: {{collection.getType}},
    number of items: {{collection.count}}.
    <a
            href="/?c=archive&a=itemsCollection&collectionId={{collection.getId}}"
            class="ajax"
            target="#itemsCollection-{{collection.getId}}">
        show items
    </a>

    <div>
        <table class="table" id="itemsCollection-{{collection.getId}}">
        </table>
    </div>
</li>