<form method="get" action="/?c=search" name="search">
    <div>
        <label>
            <input
                    type="url"
                    name="searchUrl"
                    data-validation="required"
                    required/> Url (http://example.com)
        </label>
    </div>
    <ul class="list-unstyled">
        <li>
            <label>
                <input
                        type="radio"
                        name="searchType"
                        value="link"
                        checked="checked"/> Links
            </label>
        </li>
        <li>
            <label>
                <input
                        type="radio"
                        name="searchType"
                        value="img"/> Images
            </label>
        </li>
        <li>
            <label>
                <input
                        type="radio"
                        name="searchType"
                        value="text"/> Text
            </label>
        </li>
    </ul>
    <div id="searchTextWrapper">
        <input type="checkbox" name="useTextSearch" style="display: none;"/>
        <label>
            <input
                    type="text"
                    name="searchText"
                    placeholder="enter your pattern"
                    data-validation="required"
                    data-validation-if-checked="useTextSearch"/> Search text
        </label>
    </div>
    <input type="submit" name="searchSubmit"/>
</form>

<div id="resultArea"></div>