<h1>Current search results: </h1>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>item</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="2">Total: {{numberOfItems}}</th>
    </tr>
    </tfoot>
    <tbody>
    {{{results}}}
    </tbody>
</table>